<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/my-custom.css" />
  </head>
  <body>
    <% if (method == "register") { %>
        <div class="container">
            <br> <br>
            <h1>Register</h1>
            <br> <br>
            <form action="/auth/register" method="POST">
                <div class="form-group">
                  <h3 for="exampleInputEmail1">Username</h3>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                    placeholder="Username"
                  />
                </div>
                <br> <br>
                <div class="form-group">
                  <h3 for="exampleInputPassword1">Password</h3>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                    placeholder="Password"
                  />
                </div>
                <br> <br>
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
              <br> <br>
              <h5><a href="/auth/login">Go to Login Page</a></h5>
        </div>
    <% } else if (method == "login") { %> 
        <div class="container">
            <br> <br>
            <h1>Login</h1>
            <br> <br>
            <form action="/auth/login" method="POST">
                <div class="form-group">
                  <h3 for="exampleInputEmail1">Username</h3>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                    aria-describedby="emailHelp"
                    placeholder="Username"
                  />
                </div>
                <br> <br>
                <div class="form-group">
                  <h3 for="exampleInputPassword1">Password</h3>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                    placeholder="Password"
                  />
                </div>
                <br> <br>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
              <br> <br>
              <h5><a href="/auth/register">Go to Register Page</a></h5>
        </div>
    <% } %> 
  </body>
</html>
